{% extends ":Visiteur:base.html.twig" %}

{% block body %}
    <center>
            <h3>Fiche frais bien Enregistrée</h3><br/>
            <a href="/visiteur/fiche_frais/ajouter" class="btn btn-outline-light">AJOUTER NOUVELLE<br/>FICHE FRAIS</a><br/>
    </center>
{% endblock %}{# empty Twig template #}
